.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid navajowhite ;
    background-color: beige;
}

#romaji, #pronunciation, #notes{
    
    background-color: gray;
}
#content > *{
    font-size: 15px;
    background-color: aquamarine;
}

.centerH{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.centerH > button, img, #notes {
    border: 1px solid navajowhite;
}

.centerV{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.btnBox{
    margin: 10px;
}

.outerEdge{
    background-color: beige;
}
img{
    height: 20rem;
    width: 20rem;
}

.menuButton{
    width: 150px;
    height: 50px;
}

#imgChart{
    height: 50px;
    width: 50px;
}



/* chart js */
.container > p{
    flex-basis: 30%;
    border: 1px solid black;
}
.container > div{
    flex-basis: 20%;
    border: 1px solid black;
}

.break {
    flex-basis: 100%;
    height: 0;
}
