
.centerH{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.centerH > * {
    border: 1px solid navajowhite;
}

.centerV{
    display: flex;
    align-items: center;
}

.btnBox{
    margin: 10px;
}

.outerEdge{
    background-color: beige;
}
img{
    height: 20rem;
    width: 20rem;
}

.menuButton{
    width: 150px;
    height: 50px;
}